---
import Layout from '../layouts/Layout.astro';

import Clock from '../components/Clock.astro';
import Search from '../components/Search.astro';
import Weather from '../components/Weather.astro';
import Notes from '../components/Notes.astro';
---

<Layout title="Jack's Homepage">
	<main class="w-screen h-screen bg-slate-900 flex flex-row p-5">

    <div class="basis-3/12">
    </div>

    <div class="basis-6/12 flex flex-col my-auto space-y-16 px-5">
      <div class="flex flex-col space-y-5">
        <Clock></Clock>
        <Search></Search>
      </div>
      <div class="h-[40vh]">
        <Notes></Notes>
      </div>
      
    </div>

    <div class="basis-3/12">
      <Weather></Weather>
    </div>

	</main>
</Layout>

<script defer lang="js">

</script>
